  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: transparent;
    transition: background-color 0.5s ease;
    z-index: 1000;
  }
  .header__hover{
    background-color: #fff;
  }
  .hovered__a{
    color: #000;
  }

  .logo {
    height: 110px;
    width:110px;
  }
  
  nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  nav a {
    margin: 0 15px;
    font-weight: lighter;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    position: relative;
  }
  
  nav a:hover {
    color: black;
    cursor: pointer;
  }
  
  nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #e67e22;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
  }
  
  nav a:hover::after {
    width: 100%;
  }
  
  nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #e67e22;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
  }
  nav a:hover::after {
    width: 100%;
  }
  